/* Contenedor principal */
#navigation {
  background-color: #070720;
  color: #fff;
  padding: 10px 0;
  font-family: sans-serif;
}

/* Flex container */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 20px;
}

/* Menú links */
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s;
}

/* Hover */
.nav-links li a:hover {
  background-color: #ff0000;
  color: #fff;
}

/* ACTIVO*/
.nav-links li a.active {
  background-color: #ff0000;
  color: #fff;
  font-weight: bold;
}

/* Botón hamburguesa */
.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.nav-toggle span {
  width: 25px;
  height: 3px;
  background-color: #fff;
  border-radius: 2px;
  transition: all 0.3s;
}

.nav-toggle.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.nav-toggle.open span:nth-child(2) {
  opacity: 0;
}

.nav-toggle.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }

  .nav-links {
    width: 100%;
    flex-direction: column;
    display: none;
    gap: 10px;
    margin-top: 10px;
  }

  .nav-links.open {
    display: flex;
  }
}
